$primary: #2B804E;
$color1: #42965F;
$color2: rgb(187, 255, 195);
$whiteTrans: rgba(255, 255, 255, 0.8);
$darkTrans: rgba(0,0,0,0.2);
@font-face{
    src: url("../fonts/Muli-Light.ttf");
    font-family: MuliLight;
}
@font-face{
    src: url("../fonts/Muli-Regular.ttf");
    font-family: Muli;
}
@mixin flex($justify: center, $align: center, $direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin res($tacka) {
    @if $tacka == sm {
        @media (min-width: 576px) { @content; }
    }
    @else if $tacka == md {
        @media (min-width: 768px) { @content; }
    }
    @else if $tacka == lg {
        @media (min-width: 992px) { @content; }
    }
    @else if $tacka == xl {
        @media (min-width: 1200px) { @content; }
    }
}
.row {
    margin: 0px;
}
body {
    font-family: Muli;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: $primary;
    &:hover {
        text-decoration: none;
        color: $color1;
    }
}
.button {
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.2);
    transition: background .3s;
    &:hover {
        background: $whiteTrans;
        border-color: transparent;
    }
}
.navbar-toggler {
    &:focus {
        outline: none;
    }
    span {
        font-size: 2em;
        color: $primary;
    }
}
ul {
    list-style-type: none;
}
.my-10p {
    margin: 10px 0px;
}
.h-80p {
    height: 80px;
}
.text-shadow {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}
.bg-glass {
    background: $whiteTrans;
    backdrop-filter: blur(5px);
}
.page-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay {
    bottom: 0px;
    background: linear-gradient(to top, rgba(0,0,0,0.0) 40%, rgba(0,0,0,0.8) 100%);
}
#home {
    background-image: url("../img/bgHome.jpg");
}
#header {
    z-index: 10;
    a {
        font-size: 1.1em;
    }
    #meni {
        @include res(lg) {
            height: 80px;
        }
        ul {
            height: inherit;
            li {
                @include flex();
                width: 100%;
                @include res(lg) {
                    height: inherit;
                    width: 120px;
                }
                &.activeLink {
                    background: rgba(0,0,0,0.1);
                }
            }
        }
    }
 }
#hNaslov {
    margin-top: 100px;
    width: 100%;
    background: $darkTrans;
    backdrop-filter: blur(5px);
    @include res(lg){
        width: 40%;
        background: none;
        backdrop-filter: none;
        margin: 5%;
    }
}
#advantages {
    margin-top: 15%;
    min-height: 300px;
    margin-bottom: 120%;
}