$primary: #2B804E;
// $primary: #00904B;
$color1: #42965F;
// $color1: #72BC79;
$color2: #72BC79;
$whiteTrans: rgba(255, 255, 255, 0.8);
$darkTrans: rgba(0,0,0,0.2);
// @font-face{
//     src: url("../fonts/Muli-Light.ttf");
//     font-family: MuliLight;
// }
@font-face{
    src: url("../fonts/Muli-Regular.ttf");
    font-family: Muli;
}
@mixin flex($justify: center, $align: center, $direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin res($tacka) {
    @if $tacka == sm {
        @media (min-width: 576px) { @content; }
    }
    @else if $tacka == md {
        @media (min-width: 768px) { @content; }
    }
    @else if $tacka == lg {
        @media (min-width: 992px) { @content; }
    }
    @else if $tacka == xl {
        @media (min-width: 1200px) { @content; }
    }
}
* {
    &:focus {
        outline-color: $primary !important;
    }
}
html {
    scroll-behavior: smooth;
    font-family: Muli;
    font-size: 16px;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $primary; 
        //border-radius: 5px;
        &:hover{
            background: $color1; 
        }
    }
}
a {
    text-decoration: none;
    color: $primary;
    &:hover {
        text-decoration: none;
        color: $color1;
    }
}
.row {
    margin: 0px;
}
.button {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.2);
    transition: background .3s;
    &:hover {
        background: $whiteTrans;
        border-color: transparent;
        color: $primary;
    }
}
.form-control {
    &:focus {
        border-color: $primary;
    }
}
.navbar-toggler {
    span {
        font-size: 2em;
        color: $primary;
    }
}
ul {
    list-style-type: none;
}
.my-10p {
    margin: 10px 0px;
}
.h-80p {
    height: 80px;
}
.text-shadow {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.6);
}
.bg-glass {
    background: $whiteTrans;
    backdrop-filter: blur(6px);
}
.bg-wt {
    background: $whiteTrans;
}
.border-line {
    border: 2px solid $primary ;
}
.page-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay {
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7) 30%, rgba(0,0,0,1) 100%);
    z-index: 1;
}
.card {
    h2 {
        font-size: 1.2em;
    }
    span {
        font-size: 6em;
        color: $primary;
    }
}

.btn-success {
    background-color: $primary;
    &:hover {
        background-color: $color1;
    }
}
.btn-outline-success {
    border-color: $primary;
    color: $primary;
    &:hover {
        border-color: transparent;
        background-color: $primary;
    }
}
#poruka {
    height: 150px;
    resize: none;
}
#home {
    background-image: url("../img/bgHome.jpg");
}
#header {
    z-index: 10;
    a {
        font-size: 1.1em;
    }
    #meni {
        @include res(lg) {
            height: 80px;
        }
        ul {
            height: inherit;
            li {
                @include flex();
                width: 100%;
                @include res(lg) {
                    height: inherit;
                    width: 120px;
                }
                @include res(xl) {
                    width: 140px;
                }
                &.activeLink {
                    background: rgba(0,0,0,0.1);
                }
            }
        }
    }
 }
#nwrapper {
    height: 80vh;
}
#hNaslov {
    margin-top: 100px; 
    background: $darkTrans;
    backdrop-filter: blur(3px);
    @include res(lg){
        width: 40%;
        background: none;
        backdrop-filter: none;
        margin: 80px;
    }
}
#advantages {
    padding: 20vh 0;
    @include res(lg) {
        padding: 20vh 150px;
    }
    @include res(xl) {
        padding: 20vh 0;
    }
    .card {
        
        @include res(sm) {
            max-width: 300px;
        }
        @include res(lg) {
            max-width: 300px;
        }
        @include res(xl) {
            max-width: 250px;
        }
    }
    .card-title {
        min-height: 70px;
    }
}
.img-border {
    background-image: url("../img/teaLeaves.png");
    background-size: cover;
    opacity: 0.8;
    height: 100px;
    top: -100px;
    @include res(lg)
    {
        height: 150px;
        top: -150px;
    }
}
.bg-img-text {
    min-height: 90px;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-size: 70px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
}
#home-content-wrapper {    
    h3 {
        top: 0px;
        left: -5%;
        padding: 0 10% 1% 7%;
        width: 110vw;
        transform: rotate(-5deg);
        mix-blend-mode: screen;
        color: #000;
        font-size: 50px;
        font-weight: 700;
        @include res(sm) {
            font-size: 60px;
        }
        @include res(md) {
            font-size: 70px;
        }
    }
}
#home-content {
    margin-top: 250px;
    #home-content-text {
        @include res(md) {

            flex:0 0 calc(81% + 64px);
            max-width: none;
        }
        .hca-content{
            p {
                font-size: 1em;
            }
        }
        background-image: url("../img/greenTeaField.jpg");
        background-size: cover;
    }
    .col-md-3h {
        @include res(md) {
            flex:0 0 27%;
        }
    }
    .hca-content{
        border-width: 3px !important;
        margin: 10%;
        z-index: 2;
        min-height: 200px;
        min-width: 80%;
        p {
            font-size: 0.85em;
            color: rgba(255,255,255,0.7);
        }
        h2 {
            font-size: 1.4em;
        }
    }
    #gt-img {
        background-image: url("../img/green.jpg");
        background-size: cover;
    }
    #bt-img {
        background-image: url("../img/black.jpg");
        background-size: cover;
    }
    #ot-img {
        background-image: url("../img/chamomile.jpg");
        background-size: cover;
    }
    
}
footer {
}